<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
</head>
<body>
    <h3>Edit  your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data">
        <label for="title">Title:</label>
        <input type="text" id="title" name="listing[tittle]" value="<%= listing.title %>" required><br><br>
        <label for="description">Description:</label>
        <textarea id="description" name="listing[description]" value="<%= listing.description %>" required></textarea><br><br>
        <label for="image">Image URL:</label>
        <input type="file" id="image" name="listing[image][url]"><br><br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="listing[price]" value="<%= listing.price %>" required><br><br>
        <label for="location">Location:</label>
        <input type="text" id="location" name="listing[location]" value="<%= listing.location %>" required><br><br>
        <label for="country">Country:</label>
        <input type="text" id="country" name="listing[country]" value="<%= listing.country %>" required><br><br>
        <button type="submit">Update Listing</button>
    </form>
</body>
</html>